

body {
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    min-height: 100vh;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

#data-exhibition {
    border: crimson solid 2px;
    padding: 1rem;
    box-shadow: 0 0 1rem crimson;
    border-radius: 1rem;
}

.form-new-client-automatic {
    border: slateblue solid 2px;
    padding: 1rem;
    box-shadow: 0 0 1rem slateblue;
    border-radius: 1rem;
}
