

body {
    background-color: #222;
    font-family: consolas;
}

h1, h2, h3, h4, h5, h6 {
    color: mediumseagreen;
    text-shadow: 0 0 1rem mediumseagreen;
}

table tr {
    text-align: center;
}

section {
    margin: 1rem;
}

span {
    color: white;
}

.flex-line-break {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 50%;
}

.flex-in-line {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}