

{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Aula 2 - Modelagem sobre Hotel</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
    <main>
        <section id="forms">
            
            <div class="flex">
                <a class="btn btn-primary" href="{% url 'novo-cliente' %}" target="_blank">Criar cliente</a>
            </div>
            
            <div class="added_clients">
                {% for clt in clients %}
                    <span>{{ clt.nome }},</span>
                {% endfor %}
            </div>
            
        </section>
    </main>
    
    <script type="text/javascript" src=""></script>
{% endblock %}
