

{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Aula 2 - Modelagem sobre Hotel</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
    <main>
        <section id="forms">
            
            <div class="flex">
                <h2>Formulários</h2>
                <a class="btn btn-primary" href="{% url 'novo-cliente' %}" target="_blank">Criar cliente</a>
            </div>
            
            
        </section>

        <section id="data-exhibition">
            <div class="flex">
                <h2>Acesso</h2>
                <div>
                    <a class="all-clients-lnk btn btn-secondary" href="{% url 'exibir-clientes' %}" target="_blank">Ver clientes</a>
                </div>
            </div>
            
        </section>
    </main>
    
    <script type="text/javascript" src=""></script>
{% endblock %}
